# 2-3.1 Intro Python
# The Power of List Iteration
- **for in: `for` loop using `in`**
- for range: **`for range(start,stop,step)`** 
- more list methods: **`.extend()`, `+, .reverse(), .sort()`**   
- strings to lists, **`.split()`**, and list to strings, **`.join()`**   


----- 

><font size="5" color="#00A0B2"  face="verdana"> <B>Student will be able to</B></font>  
- **Iterate through Lists** using **`for`** with **`in`**
- Use **`for range()`** in looping operations  
- Use list methods **`.extend()`, `+, .reverse(), .sort()`**  
- convert between lists and strings using  **`.split()`** and **`.join()`**

# &nbsp;
<font size="6" color="#00A0B2"  face="verdana"> <B>Concepts</B></font>
## Iterate through Lists using 
# ` for in`
[![view video](https://iajupyterprodblobs.blob.core.windows.net/imagecontainer/common/play_video.png)]( http://edxinteractivepage.blob.core.windows.net/edxpages/f7cff1a7-5601-48a1-95a6-fd1fdfabd20e.html?details=[{"src":"http://jupyternootbookwams.streaming.mediaservices.windows.net/3545f443-d2b5-4d77-9a8c-cfe07976c697/Unit2_Section3.1a-Iterate_through_Lists.ism/manifest","type":"application/vnd.ms-sstr+xml"}],[{"src":"http://jupyternootbookwams.streaming.mediaservices.windows.net/3545f443-d2b5-4d77-9a8c-cfe07976c697/Unit2_Section3.1a-Iterate_through_Lists.vtt","srclang":"en","kind":"subtitles","label":"english"}])
```python
cities = ["New York", "Shanghai", "Munich", "Tokyo", "Dubai", "Mexico City", "S達o Paulo", "Hyderabad"]

for city in cities:
    print(city)
```

# &nbsp;
<font size="6" color="#00A0B2"  face="verdana"> <B>Examples</B></font>

In [1]:
# [ ] review and run example
cities = ["New York", "Shanghai", "Munich", "Tokyo", "Dubai", "Mexico City", "S達o Paulo", "Hyderabad"]

for city in cities:
    print(city)

New York
Shanghai
Munich
Tokyo
Dubai
Mexico City
S達o Paulo
Hyderabad

In [2]:
# [ ] review and run example
sales = [6, 8, 9, 11, 12, 17, 19, 20, 22]
total = 0

for sale in sales:
    total += sale
    
print("total sales:", total)

total sales: 124

change the iterator variable name from "sale" to "dollars" or to any valid name

In [3]:
# [ ] review and run example 
sales = [6, 8, 9, 11, 12, 17, 19, 20, 22]
total = 0

for dollars in sales:
    total += dollars
    
print("total sales:", total)

total sales: 124

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 1</B></font>

### Iterate through Lists using `in`

In [4]:
# [ ] create a list of 4 to 6 strings: birds
# print each bird in the list
bird_list = ["parrot", "eagle", "falcon", "owl", "hummingbird"]
for bird in bird_list:
    print(bird)

parrot
eagle
falcon
owl
hummingbird

In [5]:
# [ ]  create a list of 7 integers: player_points
# [ ] print double the points for each point value

player_points = [4, 95, 92, 9, 12]
for points in player_points:
    print(points*2)

8
190
184
18
24

In [6]:
# [ ] create long_string by concatenating the items in the "birds" list previously created
# print long_string - make sure to put a space betweeen the bird names
long_string = ""
for bird in bird_list:
    long_string += bird
print(long_string)

parroteaglefalconowlhummingbird

# &nbsp;
<font size="6" color="#00A0B2"  face="verdana"> <B>Concepts</B></font>
## Sort and Filter

[![view video](https://iajupyterprodblobs.blob.core.windows.net/imagecontainer/common/play_video.png)]( http://edxinteractivepage.blob.core.windows.net/edxpages/f7cff1a7-5601-48a1-95a6-fd1fdfabd20e.html?details=[{"src":"http://jupyternootbookwams.streaming.mediaservices.windows.net/32652fe3-7d3e-4b7b-b9fb-7f87a6c0ad59/Unit2_Section3.1b-Sort_and_Filter.ism/manifest","type":"application/vnd.ms-sstr+xml"}],[{"src":"http://jupyternootbookwams.streaming.mediaservices.windows.net/32652fe3-7d3e-4b7b-b9fb-7f87a6c0ad59/Unit2_Section3.1b-Sort_and_Filter.vtt","srclang":"en","kind":"subtitles","label":"english"}])
### use comparison operators while iterating lists

### &nbsp;
<font size="6" color="#00A0B2"  face="verdana"> <B>Examples</B></font>

In [7]:
# [ ] review and run example of sorting into strings to display
foot_bones = ["calcaneus", "talus", "cuboid", "navicular", "lateral cuneiform", 
            "intermediate cuneiform", "medial cuneiform"]
longer_names = ""
shorter_names = ""

for bone_name in foot_bones:
    if len(bone_name) < 10:
        shorter_names += "\n" + bone_name
    else:
        longer_names += "\n" + bone_name

print(shorter_names)
print(longer_names)

calcaneus
talus
cuboid
navicular

lateral cuneiform
intermediate cuneiform
medial cuneiform

In [8]:
# [ ] review and run example of sorting into lists
foot_bones = ["calcaneus", "talus", "cuboid", "navicular", "lateral cuneiform", 
            "intermediate cuneiform", "medial cuneiform"]
longer_names = []
shorter_names = []

for bone_name in foot_bones:
    if len(bone_name) < 10:
        shorter_names.append(bone_name)
    else:
        longer_names.append(bone_name)

print(shorter_names)
print(longer_names)

['calcaneus', 'talus', 'cuboid', 'navicular']
['lateral cuneiform', 'intermediate cuneiform', 'medial cuneiform']

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 2</B></font>

## sort and filter

In [9]:
# [ ] Using cities from the example above iterate throught the list using "for"/"in"
# [ ] Print only cities starting with "m"
for city in cities[2:8:3]:
    print(city)

Munich
Mexico City

In [10]:
# [ ] Using cities from the example above iterate throught the list using "for"/"in"
# cities = ["New York", "Shanghai", "Munich", "Tokyo", "Dubai", "Mexico City", "S達o Paulo", "Hyderabad"]
# [ ] sort into lists with "A" in the city name and without "A" in the name: a_city & no_a_city

a_city = []
num_a_city = []
str(cities).find("a")
for city in cities:
    if "a" in cities:
        a_city += city
    else:
        num_a_city += city
print(a_city)
print(num_a_city)

[]
['N', 'e', 'w', ' ', 'Y', 'o', 'r', 'k', 'S', 'h', 'a', 'n', 'g', 'h', 'a', 'i', 'M', 'u', 'n', 'i', 'c', 'h', 'T', 'o', 'k', 'y', 'o', 'D', 'u', 'b', 'a', 'i', 'M', 'e', 'x', 'i', 'c', 'o', ' ', 'C', 'i', 't', 'y', 'S', '達', 'o', ' ', 'P', 'a', 'u', 'l', 'o', 'H', 'y', 'd', 'e', 'r', 'a', 'b', 'a', 'd']

# &nbsp;
<font size="6" color="#00A0B2"  face="verdana"> <B>Concepts</B></font>  
## More iteration of lists
## - Counting
## - Searching

[![view video](https://iajupyterprodblobs.blob.core.windows.net/imagecontainer/common/play_video.png)]( http://edxinteractivepage.blob.core.windows.net/edxpages/f7cff1a7-5601-48a1-95a6-fd1fdfabd20e.html?details=[{"src":"http://jupyternootbookwams.streaming.mediaservices.windows.net/72acdbd5-454d-4900-b381-387ad49596f1/Unit2_Section3.1c_count_in_iteration.ism/manifest","type":"application/vnd.ms-sstr+xml"}],[{"src":"http://jupyternootbookwams.streaming.mediaservices.windows.net/72acdbd5-454d-4900-b381-387ad49596f1/Unit2_Section3.1c_count_in_iteration.vtt","srclang":"en","kind":"subtitles","label":"english"}])
### use string methods while iterating lists

# &nbsp;
<font size="6" color="#00A0B2"  face="verdana"> <B>Examples</B></font>

In [11]:
# [ ] review and run example
# iterates the "cities" list, count & sum letter "a" in each city name

cities = ["New York", "Shanghai", "Munich", "Tokyo", "Dubai", "Mexico City", "S達o Paulo", "Hyderabad"]
search_letter = "a"
total = 0

for city_name in cities:
    total += city_name.lower().count(search_letter)

print("The total # of \"" + search_letter + "\" found in the list is", total)

The total # of "a" found in the list is 6

<font size="4" color="#00A0B2"  face="verdana"> <B>search function</B></font>
[![view video](https://iajupyterprodblobs.blob.core.windows.net/imagecontainer/common/play_video.png)](http://edxinteractivepage.blob.core.windows.net/edxpages/f7cff1a7-5601-48a1-95a6-fd1fdfabd20e.html?details=[{"src":"http://jupyternootbookwams.streaming.mediaservices.windows.net/2fa709be-5857-4291-beee-4d893d93468e/Unit2_Section3.1d_city_search_function.ism/manifest","type":"application/vnd.ms-sstr+xml"}],[{"src":"http://jupyternootbookwams.streaming.mediaservices.windows.net/2fa709be-5857-4291-beee-4d893d93468e/Unit2_Section3.1d_city_search_function.vtt","srclang":"en","kind":"subtitles","label":"english"}])

In [12]:
# [ ] review and run example
# city_search function has a default list of cities to search
def city_search(search_item, cities = ["New York", "Shanghai", "Munich", "Tokyo"] ):
    for city in cities:
        if city.lower() == search_item.lower():
            return True
        else:
            # go to the next item
            pass
    # no more items in list
    return False

# a list of cities
visited_cities = ["New York", "Shanghai", "Munich", "Tokyo", "Dubai", "Mexico City", "S達o Paulo", "Hyderabad"]

search = input("enter a city visited: ")

# Search the default city list
print(search, "in default cities is", city_search(search))

# search the list visited_cities using 2nd argument
print(search, "in visitied_cites list is", city_search(search,visited_cities))

enter a city visited: newyork
newyork in default cities is False
newyork in visitied_cites list is False

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 3</B></font>  
## Program: Paint Stock  
check a list for a paint color request and print status of color "found"/"not found"
- create list, paint_colors, with 5+ colors
- get user input of string:color_request
- iterate through each color in paint_colors to check for a match with color_request

In [13]:
# [ ] complete paint stock
paint_colors = ["Pink", "Grey", "Mehroon", "Magenta"]
color_request = []
for color in paint_colors:
    color_request += paint_colors
    break
print(color_request)

['Pink', 'Grey', 'Mehroon', 'Magenta']

# &nbsp;
<font size="6" color="#B24C00"  face="verdana"> <B>Task 4</B></font>  
## Program: Foot Bones Quiz
**Create a function** that will iterate through foot_bones looking for a match of a string argument
- Call the function 2 times with the name of a footbone 
- print immediate feedback for each answer (correct - incorrect)
- print the total # of foot_bones identified


The program will use the foot_bones list:
```python 
foot_bones = ["calcaneus", "talus", "cuboid", "navicular", "lateral cuneiform",
             "intermediate cuneiform", "medial cuneiform"]
```
Bonus: remove correct response item from list if correct so user cannot answer same item twice

In [14]:
# [ ] Complete Foot Bones Quiz
# foot_bones = ["calcaneus", "talus", "cuboid", "navicular", "lateral cuneiform",
#             "intermediate cuneiform", "medial cuneiform"]

def bone_structure(foot_bones_match):
    foot_bones = ["calcaneus", "talus", "cuboid", "navicular", "lateral cuneiform", "intermediate cuneiform", "medial cuneiform"]
    for bones in foot_bones:
        if bones in foot_bones:
            print("correct")
            break
        else:
            print("incorrect")
bone_structure("cuboid")
bone_structure("ankle")

correct
correct

In [15]:
# [ ] bonus version

foot_bones = ["calcaneus", "talus", "cuboid", "navicular", "lateral cuneiform",
             "intermediate cuneiform", "medial cuneiform"]

def foot_bones_quiz(bone):
    if bone in foot_bones:
        foot_bones.remove(bone)
        return 'correct!'
    else:
        return 'incorrect'

cnt = 0
bone = input("enter foot bone name or 'quit': ")
while bone.lower() != 'quit':
    rtrn = foot_bones_quiz(bone)
    print(rtrn)
    if rtrn == 'correct!':
        cnt += 1
    bone = input("enter foot bone name or 'quit': ")

print("total number of bones identified", str(cnt))

enter foot bone name or 'quit': balus
incorrect
enter foot bone name or 'quit': talus
correct!
enter foot bone name or 'quit': quit
total number of bones identified 1

[Terms of use](http://go.microsoft.com/fwlink/?LinkID=206977) &nbsp; [Privacy & cookies](https://go.microsoft.com/fwlink/?LinkId=521839) &nbsp; 息 2017 Microsoft